<%- include("partials/authHeader"); -%>

<h2 style="font-weight: bold;"><%=title%></h2>
	<p style="display: inline;"><%= author + " | "%></p>
	<p style="display: inline;"><%= email %></p>

	<h4><%=content  %>
		
	</h4>

<%- include("partials/footer"); -%>
